@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
body,
html,
#__next {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
